# Editor
alias va="nvim ~/.aliases"

# Git
alias lg="lazygit"
alias ld="lazydocker"

# System
alias caff="caffeinate -dimsu"

# Platform-specific local IP
if [ "$(uname -s)" = "Darwin" ]; then
    alias local_ip="ipconfig getifaddr en0"
else
    alias local_ip="hostname -I | awk '{print \$1}'"
fi

# Functions
port_kill() {
    lsof -ti:$1 | xargs kill -9
}

make() {
    local dir=$PWD
    while [[ $dir != / ]]; do
        for mf in Makefile makefile GNUmakefile; do
            if [[ -f $dir/$mf ]]; then
                command make -C "$dir" "$@"
                return
            fi
        done
        dir=${dir:h}
    done
    print "make: no Makefile found upwards from $PWD" >&2
    return 2
}
alias slp='pmset sleepnow'
